<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Phone Checker App</title>
	</head>
	
	<body>
	<p>
		<h2>Benvenuto! Valida qui i tuoi numeri di telefono</h2>
		<h3>Puoi validare un numero in maniera puntuale, inserendolo manualmente qui sotto,
			oppure caricare un tuo file con la lista dei numeri (solo .csv/.xlsx) e validarli massivamente.
		</h3> 
	</p>
	
	<form th:action="@{/uploadExcelFile}" enctype="multipart/form-data" method="post">
		<p>
		<h4>Validazione manuale</h4>
			<label for="phoneNumber">Inserisci qui un numero da validare:</label>
			<input type="number" 
				id="phoneNumber" 
				name="phoneNumber" 
				maxlength="11"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
			<input type="submit" value="Valida">
		</p>
	</form>
	
	<form th:action="@{/uploadExcelFile}" enctype="multipart/form-data" method="post">
		<p>
		<h4>Validazione massiva</h4>
			<label for="phoneNumber">Carica il file:</label>
			<input type="file" id="loadFile" name="loadFile"><br><br>
		</p>
		<input type="submit" value="Valida">
	</form>
	</body>
</html>